b 用戶數據
div(class='tab-content')
    .input-group
        input.form-control(type='text' placeholder='請輸入搜索用戶名')
        span.input-group-btn
            button.btn.btn-primary(type='button' v-on:click='onSearch') 搜索
    #data-user-list
        include data-user-list