b 訂單數據
div(class='tab-content')
    .input-group
        input.form-control(type='text' placeholder='請輸入搜索訂單號')
        span.input-group-btn
            button.btn.btn-primary(type='button' v-on:click='onSearch') 搜索
    #data-order-list
        include data-order-list