table.list
    tbody
        tr
            th 商品名
            th 商品價格
            th 商品分類
            th 商品日期
        tr(class='goods-item' v-for='goods in goodss')
            td {{goods.title}}
            td ${{goods.price}}
            td {{goods.categoryName}}
            td {{goods.date | date}}
script.
    (function () {
        Vue.filter('date', function (value) {
            return new Date(parseInt(value)).format('yyyy年MM月dd日 hh時mm分ss秒')
        })
        var vue = new Vue({
            el: '#data-goods-content',
            data: {
                goodss: !{JSON.stringify(goodss)}
            },
            methods: {}
        });
    }())