table.list
    tbody
        tr
            th 訂單號
            th 用戶名
            th 手機號碼
            th 訂單日期
            th 操作
        tr(class='user-item' v-for='user in users')
            td {{user.name}}
            td {{user.phone}}
            td {{user.date | date}}
            td
                button.btn.btn-link(type='button' data-toggle='modal' v-on:click='editModel' data-target='#modal-user-edit' value='{{$index}}') 修改
                button.btn.btn-link(type='button' data-toggle='modal' v-on:click='deleteModel' data-target='#modal-user-delete' value='{{$index}}') 刪除
script.
    (function () {
        Vue.filter('date', function (value) {
            return new Date(parseInt(value)).format('yyyy年MM月dd日 hh時mm分ss秒')
        })
        var vue = new Vue({
            el: '#data-user-content',
            data: {
                users: !{JSON.stringify(users)}
            },
            methods: {}
        });
    }())