b 商品數據
a.sync(id='' v-on:click='onSync') 同步倉庫數據
div(class='tab-content')
    .input-group
        input.form-control(type='text' placeholder='請輸入搜索商品名')
        span.input-group-btn
            button.btn.btn-primary(type='button' v-on:click='onSearch') 搜索
    #data-goods-list
        include data-goods-list
