doctype html
html
    head
        title= title
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.min.css')
        link(rel='stylesheet', href='../css/bootstrap.css')
        link(rel='stylesheet', href='../css/toastr.css')
        link(rel='stylesheet', href='../css/web.css')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.2/js/bootstrap.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.2/toastr.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.20/vue.min.js')
        script(src='https://cdn.socket.io/socket.io-1.4.5.js')
        script(src='https://www.gstatic.com/firebasejs/3.0.0/firebase.js')
        script(src='../js/web.js')
    body
        block content
        #modal-loading.modal.fade
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        h1 進行中...
                    .modal-body
                        progress.progress.progress-striped.progress-animated(value='100', max='100') 100%
        #modal-tips.modal.fade
            .modal-dialog(role='document')
                .modal-content
                    .modal-body
                        h1
    script.
        function showLoading() {
            $('#modal-loading').modal()
        }

        function dismissLoading() {
            $('#modal-loading').modal('hide')
        }

        function showTips(message) {
            setTimeout(function () {
                $('#modal-tips h1').text(message)
                $('#modal-tips').modal()
                setTimeout(function () {
                    $('#modal-tips').modal('hide')
                }, 1300)
            }, 500)

        }

        $.ajaxSetup({
            error: function (xhr, status, error) {
                dismissLoading()
                showTips(xhr.statusText)
            }
        });
