extends layout

block content
    script.
        function addUser() {
            var model = {
                name: 'abcxo',
                deviceId: 'wfwefwefwef',
                phone: '',
                password: '',
                type: '',//unreachable
                date: ''
            }
            $.post('/m/user/add', model, function (result) {
                alert(JSON.stringify(result))
            });
        }
    button(type = 'button' id = 'submit' onclick = 'addUser()' class= 'btn btn-primary' style = 'width:195px') 添加用戶


