b 修改密碼
div(class='tab-content')
    table
        tbody
            tr
                td 舊密碼:
                td
                    input( type='password' class='form-control' id='old-password' name='old-password' v-model='oldPassword' placeholder='e.g. oldpassword')
            tr
                td 新密碼:
                td
                    input( type='password' class='form-control' id='new-password' name='new-password' v-model='newPassword' placeholder='e.g. newpassword')
            tr
                td 確認密碼:
                td
                    input( type='password' class='form-control' id='sure-password' name='sure-password' v-model='surePassword' placeholder='e.g. newpassword')
            tr
                td
                td
                    button(type='button' id='submit' v-on:click='editPassword' class='btn btn-primary' style='width:195px') 確認修改

script.
    (function () {
        var vue = new Vue({
            el: '#user-password',
            data: {
                user: !{JSON.stringify(user)},
                oldPassword: '',
                newPassword: '',
                surePassword: ''
            },
            methods: {
                editPassword: function (event) {
                    event.preventDefault()
                    var oldPassword = this.oldPassword;
                    var newPassword = this.newPassword;
                    var surePassword = this.surePassword;
                    var passwordReg = /^[0-9a-zA-Z]{6,12}$/;
                    if ((oldPassword!=null&&passwordReg.test(oldPassword))
                            && (newPassword!=null&&passwordReg.test(newPassword))
                            && (surePassword!=null&&passwordReg.test(surePassword))
                            && newPassword == surePassword) {
                        var vue = this;
                        showLoading()
                        $.post('/user/edit/password', {
                            oldPassword: oldPassword,
                            newPassword: newPassword
                        }, function (result) {
                            dismissLoading()
                            if (result.code == 200) {
                                vue.oldPassword = ''
                                vue.newPassword = ''
                                vue.surePassword = ''
                                showTips('修改成功')
                            } else {
                                showTips(result.msg)
                            }
                        });
                    } else {
                        showTips('密碼格式不正確')
                    }

                }
            }
        });
    }())