@import url('_vars.less');

.page[data-page='buy'] {
  .page-content{
    padding-bottom: 70px;
    .address {
      .icon-dingwei {
        color: @themeColor;
      }
    }
    .goods {
      .item-content {
        img {
          width: 40px;
        }
        .item-title-row {
          margin-top: @padding-2;
        }
      }
    }
  }

  .toolbar {
    height: 50px;
    .toolbar-inner {
      padding-right: 0px;
    }
    .submit {
      width: 30%!important;
      margin-left: @padding-4;

    }

  }
}

