@import url('_vars.less');

.page[data-page='order-detail'] {
  .page-content {
    padding-bottom: 70px;
    .header {
      .id, .state {
        margin-top: @padding-0;
      }
    }
    .address {
      .icon-dingwei {
        color: @themeColor;
      }
    }
    .goods {
      .item-content {
        .item-inner {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          .item-text {
            word-break: break-all;
          }
          .item-title-row {
            width: 100%;
          }
        }
        .item-media {
          width: 18%;
        }
      }
    }
  }

  .toolbar {
    height: 50px;
    .toolbar-inner {
      padding: 0px;

    }
  }
}

