.navbar
    .navbar-inner
        .left
            a(href="#").back.link.icon-only
                i.iconfont.icon-fanhui
        .center.sliding
        .right.refresh(style='visibility: hidden;')
            a.link.icon-only
                i.iconfont.icon-icon-yxj-refresh
.pages.navbar-through
    .page.no-tabbar(data-page="activity")
        include activity-content



