.navbar
    .navbar-inner
        .left
            a(href="#").back.link.icon-only
                i.iconfont.icon-fanhui
        .center.sliding 購物車
.pages.navbar-through
    .page.no-tabbar(data-page="cart-push")
        include cart-content
