.navbar
    .navbar-inner
        a.center.fixed.home(href='search.html')
            i.iconfont.icon-sousuo
            span.search.text 搜索熱門暢銷商品
        .right.scan
            a.link.icon-only
                i.iconfont.icon-iconfontsaoyisao
.pages.navbar-through
    .page(data-page="home")
        include activity-content


