.navbar
    .navbar-inner
        .center.fixed
.pages.navbar-through
    .page(data-page="me")
        .page-content
            .cover
                .me
                    .avatar
                        i.iconfont.icon-geren
                    .title {{user.name}}
            .list-block
                ul
                    li
                        a.item-link.item-content(href='order.html')
                            .item-inner
                                .text 我的訂單
                    li
                        a.item-link.item-content(href='address.html')
                            .item-inner
                                .text 地址管理
            .content-block-title
            .list-block
                ul
                    li
                        a.item-link.item-content(href='setting.html')
                            .item-inner
                                .text 設置

