.navbar
    .navbar-inner
        .left
            a(href="#").back.link.icon-only
                i.iconfont.icon-fanhui
        .center.sliding 版本關於
.pages.navbar-through
    .page.no-tabbar(data-page="setting-about")
        .page-content
            .list-block
                .content-block
                    .content-block-inner
                        p 大吉良品线上零售app, 为用户提供更方便，更省钱的线上购物体验。 大吉拥有自营物流配送团队，保证服务区内货物准时送达及销售服务质量。

