.navbar
    .navbar-inner
        .left
            a(href="#").back.link.icon-only
                i.iconfont.icon-fanhui
        .center.sliding 修改手機號
        .right
            a.link.icon-only
                i.iconfont.icon-dui
.pages.navbar-through
    .page.no-tabbar(data-page="setting-phone")
        .page-content
            .list-block
                ul
                    li
                        .item-content
                            .item-inner
                                .item-input
                                    input.text(type='tel', placeholder='請輸入手機號' v-model='user.phone')