.navbar
    .navbar-inner
        .left
            a(href="#").back.link.icon-only
                i.iconfont.icon-fanhui
        .center.sliding 聯係大吉
.pages.navbar-through
    .page.no-tabbar(data-page="setting-contact")
        .page-content
            .list-block
                .content-block
                    .content-block-inner
                        p 大吉 150-54 14th ave whitestone NY 11357

