.navbar
    .navbar-inner
        .left
            a(href="#").back.link.icon-only
                i.iconfont.icon-fanhui
        .center.sliding 版本關於
.pages.navbar-through
    .page.no-tabbar(data-page="setting-about")
        .page-content
            .list-block
                .content-block
                    .content-block-inner
                        p 大吉良品線上銷售App，為用戶提供更方便，更省錢的線上購物體驗。大吉擁有自營物流配送團隊，保證服務區內貨物準時送達及銷售服務質量。

