.navbar
    .navbar-inner
        .left
            a(href="#").back.link.icon-only
                i.iconfont.icon-fanhui
        .center.sliding 網頁
        .right.refresh
            a.link.icon-only
                i.iconfont.icon-icon-yxj-refresh
.pages.navbar-through
    .page.no-tabbar(data-page="web")
        .page-content
            iframe(id='' v-bind:src='url' frameborder="0")



